/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
}

.izquierda {
width: 25%;
}

.derecha {
width: 75%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color:beige;
    border:  rgb(78, 80, 80) solid;
    border-radius: 10px;
    margin: auto;

}
body {
  background-color: rgba(54, 56, 56, 0.664);
}
#c2 {
    background-color:#a2a5a5;
    border:  beige;
    border-radius: 10px;
    margin: auto;

}

h2 {
  text-align: center;
  color: rgb(22, 26, 26);
}

p{
  color: rgb(234, 240, 240);
  background-color: rgba(71, 71, 68, 0.76);
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.466) 5px 5px 40px;
  border: rgb(183, 187, 187);
}
.url{
  color: beige;
  background-color: rgb(172, 172, 169);
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: rgba(240, 223, 223, 0.466) 5px 5px 40px;
  border: rgb(3, 3, 3);
  float:left;
}



/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */