*{
    box-sizing: border-box;
}

body {
    background-image: url('boom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 { 
    text-align: center;
    color: rgb(231, 78, 17);
    text-shadow: 5px 5px rgb(160, 13, 13);
    font-size: 60px;
    
}

button {
    background-color: white;
    padding: 20px;
    border-radius: 10 px;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.clavesecreta {
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.claves {
    margin: 5px;
    margin-top: 10px;
    display:flex;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(128, 73, 11);
    border-radius: 10px;
    box-shadow: 10px 10px rgba(248, 123, 6, 0.685);
}

.numeros {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#display{
    text-align: center;
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    margin: 80px;
    margin-top: 4px;
    
}