/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }

/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
}

.izquierda {
width: 25%;
}

.derecha {
width: 75%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
  content: "";
  display: table;
  clear: both;
}

#c1 {
  margin: 10px;
  border: solid;
  border-color: rgb(3, 3, 3);
  border-radius: 10px;
  background-color:rgba(161, 43, 43, 0.5);
}

#c2 {
  margin: 10px;
  padding: 10px;
  border: solid;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(15, 15, 15, 0.5);
}

body {
  background-image: url('fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;  
  }

 @font-face {
    font-family: 'BankGothicBold';
    src: url('BankGothicBold.ttf') format('truetype');
  }

.d1 {
  margin: 10px;
  }

.Tizq {
  margin: auto;
  font-family:'BankGothicBold';
  padding: 10px;
  border: solid;
  border-color: rgb(10, 10, 10);
  border-radius: 5px;
  outline-offset: -3px;
  text-align: center;
  background-color: rgb(161, 43, 43);
}

.TituloPerfil{
  margin: auto;
  font-family:'BankGothicBold';
  font-size:xx-large;
  text-align: center;
  background-color:rgba(161, 43, 43, 0.5);
  border:solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.Habilidad{
background-color: rgba(236, 228, 228, 0.5);
border:solid;
padding: 10px;
font-weight:bold;

}
/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
    border-radius: 40px;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */