/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }

/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
}

.izquierda {
width: 25%;
}

.derecha {
width: 75%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
  content: "";
  display: table;
  clear: both;
}

#c1 {
  width: 26%;
  height: 100%;
  margin: 10px;
  border: solid;
  border-color: rgb(3, 3, 3);
  border-radius: 10px;
  background-color:rgba(161, 43, 43, 0.5);
  font-family: 'Times New Roman', Times, serif;
}

#c2 {
  float:right;
  width: 70%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  border: solid;
  border-color: rgba(3, 3, 3);
  border-radius: 10px;
  font-family:'Times New Roman', Times, serif;
  background-color:rgba(15, 15, 15, 0.5);
}

body {
  background-image: url('fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;  
  }

.about {
  background-image: url('FondoPF.png');
}

 @font-face {
    font-family: 'BankGothicBold';
    src: url('BankGothicBold.ttf') format('truetype');
  }

.d1 {
  margin: 10px;
  }

.Tizq {
  margin: auto;
  font-family:'BankGothicBold';
  padding: 10px;
  border: solid;
  border-color: rgb(10, 10, 10);
  border-radius: 5px;
  outline-offset: -3px;
  text-align: center;
  background-color: rgb(161, 43, 43);
  box-shadow: 5px 5px 40px;
}

h1{
  font-family: 'BankGothicBold';
  font-size: xx-large;
  border: solid;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(160, 43, 43, 0.5);
  padding: 10px;
  box-shadow: red 5px 5px 40px;
  text-shadow: 4px 4px 5px rgba(245, 245, 245, 0.6);
}

h2{
  font-family: 'BankGothicBold';
  border: solid;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.6);
  padding: 10px;
  margin: 10px;
  box-shadow: black 5px 5px 10px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.85);
}
.info1{
  border: solid;
  border-radius: 5px;
  text-align:start;
  background-color: rgba(192, 192, 192, 0.4);
  padding: 18px;
  margin: 10px;
  box-shadow: black 5px 5px 10px;
}
.info2{
  border: solid;
  border-radius: 5px;
  text-align:start;
  background-color: rgba(192, 192, 192, 0.4);
  padding: 18px;
  margin: 10px;
  box-shadow: black 5px 5px 10px;
}

#TituloHabilidades{
  display: flex;
  justify-content: center;
  margin: 10px;
  font-family:'BankGothicBold';
  font-size:xx-large;
  background-color:rgba(160, 43, 43, 0.5);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  border: solid;
  text-align: center;
  padding: 10px;
  box-shadow: red 5px 5px 40px;
  text-shadow: 4px 4px 5px rgba(245, 245, 245, 0.6);
}

ol {
  width: 95%;
  height: 100%;
  margin: 25px;
  padding: 20px;
  border: solid;
  border-color: rgba(3, 3, 3);
  border-radius: 10px;
  font-family:'Times New Roman', Times, serif;
  background-color:rgba(161, 154, 154, 0.411);
}
.Habilidad{
background-color: rgba(56, 55, 55, 0.541);
border:solid;
border-radius: 5px;
padding: 10px;
font-weight:bold;
text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.753) ;
box-shadow: 14px 14px 20px;
}

.p{
display:flex;
color: rgb(0, 0, 0);
background-color: rgba(223, 212, 212, 0.466);
font-size: medium;
border: solid;
border-radius: 5px;
padding: 10px;
font-weight: 300;
}

.url {
  font-family: 'BankGothicBold';
  color: rgb(94, 3, 3);
  font-size:large;
  border: rgb(0, 0, 0); 
  padding: 10px;
  background-color: rgba(236, 225, 225, 0.699);
  margin: 15spx;
  font-weight: 100;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.466) 5px 5px 40px;
}

#gif {
  width: 20%;
  height: 20%;
  border-radius: 5px;  
  margin-left: 50px;
}
/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    margin: 14px;
    border: 4px solid;
    border-color:black;
    box-shadow: 5px 5px 40px;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */