
@font-face {
    font-family: Food;
    src: url(./Foodpacker.otf);
}
@font-face {
    font-family: Pacifico;
    src: url(./Pacifico-Regular.ttf);
}
body {
    background-image: url('fondomemory.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%; 
    font-family:Food;
    color:#fdb863;
    font-size: 30px;
    -webkit-text-stroke: 1px #131212;
}

h1 {
    padding: 10px;
    font-size: 80px; 
    font-family: Food;
    /*color: rgb(252, 247, 238);
    -webkit-text-stroke: 3px 3px 1px rgb(231, 78, 17), 5px 5px 2px rgb(247, 2, 2);
    text-shadow: 0px 4px 8px red;*/  
    font-weight: bold;
    background: linear-gradient(rgb(228, 74, 3), rgb(255, 148, 105), white);
    background-clip: text;
    color: white;
    -webkit-text-stroke: 8px transparent;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

button {
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Food;
    font-size: 18pt;
}

.disabled {
    color: #757575;
}

.display {
    margin: 15px;
    color: #ee8906;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:20px;
    padding: 20px;
    max-width: 900px;
    height: auto;
    margin: 0 auto;

}

.tablero,
.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    /* background: linear-gradient(135deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%); */
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.tablero {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.grid-container.flipped .tablero {
    transform: rotateY(180deg) rotateZ(50deg);
}

.grid-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 40px;
    transition: transform 0.3s ease;

}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    font-size: 28pt;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
    font-family: Pacifico;
}

.highlight {
    color: #fc0000;
}


@media screen and (max-width: 868px) {
    .grid-container {
        grid-template-columns:
        repeat(auto-fit, minmax(50px, 1fr));
    }

    .card {
        padding: 20px;
    }
}

@media screen and (max-width: 700px) {
    .grid-container {
        grid-template-columns: 
        repeat(auto-fit, minmax(40px, 1fr));
    }

    .card {
        padding: 10px;
    }
}

@media screen and (max-width: 300px) {
    .grid-container {
        grid-template-columns: 
        repeat(auto-fit, minmax(10px, 1fr));
    }

    .card {
        padding: 5px;
    }
}