
@font-face {
    font-family: Food;
    src: url(./Foodpacker.otf);
}
@font-face {
    font-family: Pacifico;
    src: url(./Pacifico-Regular.ttf);
}
body {
    background-image: url('fondomemory.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    margin-top:40px;
    margin-left: 20px;
    padding: 10px;
    font-size: 55px; 
    font-family: Food; 
    font-weight: bold;
    background: linear-gradient(rgb(228, 74, 3), rgb(255, 148, 105), white);
    background-clip: text;
    color: white;
    -webkit-text-stroke: 8px transparent;
}

select {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    outline: none;
    transition: border color 0.3s ease-in-out;
    background-color: blanchedalmond;
}
label {
    font-family:Food;
    color:#f79f34;
    font-size: 2vw;
    -webkit-text-stroke: 0.05vw #313030;
}
.game {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

button {
    background: #ec5a05;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: solid rgb(134, 67, 19);
    cursor: pointer;
    font-family: Food;
    font-size: 18pt;
}

.disabled {
    color: #757575;
}

.display {
    margin: 15px;
    color: #ee8906;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container {
    position: relative;
    align-items: center;
    text-align: center;
    align-items: center;
    
}

.tablero,
.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    /* background: linear-gradient(135deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%); */
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.tablero {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    align-items: center;
    align-items: center;  
}  

.grid-container.flipped .tablero {
    transform: rotateY(180deg) rotateZ(50deg);
}

.grid-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #a31704;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    font-size: 28pt;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
    font-family: Pacifico;
}

.highlight {
    color: #fc0000;
}

@media screen and (max-width: 600px) {
    .game {
        max-width: 100%;
        padding: 0 1em;
        margin-top: 60px;
    }

    h1 {
        font-size: 3em;
        margin-top: 20px;
        margin-bottom: 0.5em;
        text-align: center;
    }

    button {
        border-radius: 5px;
        padding: 4px 10px;
        border: 0;
        font-size: 12pt;
    }

    .card {
        width: 30px;
        height: 30px;
    }

    .tablero {
        width: 100%;
        margin: 0 auto;
    }

    .card-front,
    .card-back {
        position: absolute;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
        backface-visibility: hidden;
    }

    .card-back {
        font-size: 28pt;
        text-align: center;
        line-height: 100px;
        background: #FDF8E6;
        transform: rotateY(180deg) rotateZ(50deg);
        user-select: none;
    }

    .card.flipped .card-front {
        transform: rotateY(180deg) rotateZ(50deg);
    }
    
    .card.flipped .card-back {
        transform: rotateY(0) rotateZ(0);
    }
    
    .win {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #FDF8E6;
        transform: rotateY(180deg) rotateZ(50deg);
    }
    
    .win-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 21pt;
        color: #282A3A;
        font-family: Pacifico;
    }
}